# Pandas

## Series

In [ ]:
import pandas as pd

In [ ]:
pd.set_option('display.unicode.east_asian_width', True)

In [ ]:
dict_data = {'a':[1, 2], 'b':2, 'c':3}
sr = pd.Series(dict_data)
print(sr)
print(type(sr))
print(sr['a'])
print(sr[1])

a    [1, 2]
b         2
c         3
dtype: object
<class 'pandas.core.series.Series'>
[1, 2]
2

In [ ]:
list_data = ['2022-10-14', 3.14, "ABC", 100, True]
sr = pd.Series(list_data)
print(sr)
print(sr[3])

0    2022-10-14
1          3.14
2           ABC
3           100
4          True
dtype: object
100

In [ ]:
print(sr.index)
print(sr.values)

RangeIndex(start=0, stop=5, step=1)
['2022-10-14' 3.14 'ABC' 100 True]

In [ ]:
tup_data = ('2021-10-14', '하늘', 200, False)
sr = pd.Series(tup_data, index=['가입일', '이름', '잔액', '할인쿠폰 발행'])
print(sr)

가입일           2021-10-14
이름                   하늘
잔액                    200
할인쿠폰 발행         False
dtype: object

In [ ]:
print(sr.index)
print(sr.values)

Index(['가입일', '이름', '잔액', '할인쿠폰 발행'], dtype='object')
['2021-10-14' '하늘' 200 False]

In [ ]:
print(sr['이름'])
print(sr[2])
print(sr[1:3])
print(sr['이름':'할인쿠폰 발행'])

하늘
200
이름    하늘
잔액     200
dtype: object
이름              하늘
잔액               200
할인쿠폰 발행    False
dtype: object

## DataFrame

In [ ]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9],
              'c3':[10,11,12], 'c4':[13,14,15]}
df = pd.DataFrame(dict_data)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [ ]:
df = pd.DataFrame([[15, '남', '영훙중'],
                    [17, '여', '성암중']],
                 index=['서준', '도연'],
                 columns=['나이', '성별', '학교'])
print(df)
print(df.index)
print(df.columns)

      나이 성별    학교
서준    15   남  영훙중
도연    17   여  성암중
Index(['서준', '도연'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

In [ ]:
df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']
print(df)

       연령 남녀    소속
학생1    15   남  영훙중
학생2    17   여  성암중

In [ ]:
df3 =df.rename(columns= {'연령':'나이'},inplace=True)
print(df)
print(df3)

       나이 남녀    소속
학생1    15   남  영훙중
학생2    17   여  성암중
None

In [ ]:
df2 = df.rename(columns= {'나이':'연령'}, inplace=False)
print(df)
print(df2)

       나이 남녀    소속
학생1    15   남  영훙중
학생2    17   여  성암중
       연령 남녀    소속
학생1    15   남  영훙중
학생2    17   여  성암중

In [ ]:
df.rename(index={'학생2':'도연', '학생1':'서준'},
          inplace=True)
print(df)

      나이 남녀    소속
서준    15   남  영훙중
도연    17   여  성암중

In [ ]:
print(df['나이'])

서준    15
도연    17
Name: 나이, dtype: int64

In [ ]:
print(df.loc['서준'])

나이        15
남녀        남
소속    영훙중
Name: 서준, dtype: object

In [ ]:
print(df.loc['서준', '나이'])

15

In [ ]:
df3 = df['나이']['서준']
print(type(df3))
print(df3)

<class 'numpy.int64'>
15

In [ ]:
df.loc['서준', '나이'] = 22
print(df)

      나이 남녀    소속
서준    22   남  영훙중
도연    17   여  성암중

In [ ]:
df.loc[2] = 0
print(df)

      나이 남녀    소속
서준    22   남  영훙중
도연    17   여  성암중
2        0    0       0

In [ ]:
df.loc['진석'] = [18, '남', '신일중']
print(df)

      나이 남녀    소속
서준    22   남  영훙중
도연    17   여  성암중
2        0    0       0
진석    18   남  신일중

In [ ]:
df.loc['선희'] = [14, '여', '풍문중']
print(df)

      나이 남녀    소속
서준    22   남  영훙중
도연    17   여  성암중
2        0    0       0
진석    18   남  신일중
선희    14   여  풍문중

In [ ]:
df.drop([2],inplace=True,axis=0)
print(df)

      나이 남녀    소속
서준    22   남  영훙중
도연    17   여  성암중
진석    18   남  신일중
선희    14   여  풍문중

In [ ]:
df['학년'] = 3
print(df)

      나이 남녀    소속  height  학년
서준    22   남  영훙중     175     3
도연    17   여  성암중     156     3
진석    18   남  신일중     170     3
선희    14   여  풍문중     185     3

In [ ]:
df['height'] = [175, 156, 170, 185]
print(df)

      나이 남녀    소속  학년  height
서준    22   남  영훙중     3     175
도연    17   여  성암중     3     156
진석    18   남  신일중     3     170
선희    14   여  풍문중     3     185

In [ ]:
df.drop(['학년'],inplace=True, axis='columns')
print(df)

      나이 남녀    소속  height
서준    22   남  영훙중     175
도연    17   여  성암중     156
진석    18   남  신일중     170
선희    14   여  풍문중     185

In [ ]:
label1 = df.loc[['서준','진석']]
print(label1)

      나이 남녀    소속  height
서준    22   남  영훙중     175
진석    18   남  신일중     170

In [ ]:
label2 = df.iloc[[1,3]]
print(label2)

      나이 남녀    소속  height
도연    17   여  성암중     156
선희    14   여  풍문중     185

In [ ]:
label3 = df.loc['서준':'진석']
print(label3)

      나이 남녀    소속  height
서준    22   남  영훙중     175
도연    17   여  성암중     156
진석    18   남  신일중     170

In [ ]:
label4 = df.iloc[0:2]
print(label4)

      나이 남녀    소속  height
서준    22   남  영훙중     175
도연    17   여  성암중     156

In [ ]:
age = df['나이']
print(type(age))
print(age)

<class 'pandas.core.series.Series'>
서준    22
도연    17
진석    18
선희    14
Name: 나이, dtype: int64

In [ ]:
age2 = df[['나이', '소속']]
print(type(age2))
print(age2)

<class 'pandas.core.frame.DataFrame'>
      나이    소속
서준    22  영훙중
도연    17  성암중
진석    18  신일중
선희    14  풍문중

In [ ]:
age3 = df[['나이']]
print(type(age3))
print(age3)

<class 'pandas.core.frame.DataFrame'>
      나이
서준    22
도연    17
진석    18
선희    14

In [ ]:
height = df.height
print(type(height))
print(height)

<class 'pandas.core.series.Series'>
서준    175
도연    156
진석    170
선희    185
Name: height, dtype: int64

In [ ]:
age4 = df.나이
print(age4)

서준    22
도연    17
진석    18
선희    14
Name: 나이, dtype: int64

In [ ]:
df3 = df.loc[df['height'] < 175]
print(df3)

      나이 남녀    소속  height
도연    17   여  성암중     156
진석    18   남  신일중     170

In [ ]:
df4 = df.loc[df['height'] < 175, ['height']]
print(df4)

      height
도연     156
진석     170

In [ ]:
df.loc[df['height'] < 175, ['height']] += 10
print(df)

      나이 남녀    소속  height
서준    22   남  영훙중     175
도연    17   여  성암중     166
진석    18   남  신일중     180
선희    14   여  풍문중     185

In [ ]:
df.loc[df['소속'] == '성암중', ['height']] += 100
print(df)

      나이 남녀    소속  height
서준    22   남  영훙중     175
도연    17   여  성암중     266
진석    18   남  신일중     180
선희    14   여  풍문중     185

In [ ]:
print(a)
df.loc[(df['height'] < 185) & (df['나이'] < 20)] = a

      나이 남녀    소속  height
진석    18   남  신일중     180

In [ ]:
df.loc['도연','height'] += 100
print(df)

      나이 남녀    소속  height
서준    22   남  영훙중     175
도연    17   여  성암중     366
진석    18   남  신일중     180
선희    14   여  풍문중     185

In [ ]:
df.loc[df['height'] == df['height'].max()]

      나이 남녀    소속  height
도연    17   여  성암중     366

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 서준 to 선희
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   나이      4 non-null      int64
 1   남녀      4 non-null      object
 2   소속      4 non-null      object
 3   height  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 332.0+ bytes
None

In [ ]:
print(df.describe())

            나이      height
count   4.000000    4.000000
mean   17.750000  226.500000
std     3.304038   93.089563
min    14.000000  175.000000
25%    16.250000  178.750000
50%    17.500000  182.500000
75%    19.000000  230.250000
max    22.000000  366.000000

In [ ]:
print(df.height.max())

366